<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div style="font-size: 10px">
    <b style="font-size: 15px">RENMED</b><br>
    Jl. Taman Mini Indonesia Indah (TMII) Pintu II Atas No. 43 Jakarta Timur<br>
    Phone : +62-21 841 5976, Fax : +62-21 840 7865
    <hr>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" style="text-align: center">
            <b style="font-size:20px">INVOICE</b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center; font-size:15px">
            No.IN/0002/III/2017
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            Kepada Yth: Hello World<br>
            Alamat Customer
        </div>
        <div class="col-xs-6">
            Tanggal : 2/11/2019 <br>
            No. Rental : RN/0002/III/2017<br>
            Tanggal Rental: 2/11/2019<br>
            Jatuh Tempo: 2/11/2019<br>
        </div>
    </div>
</div>

</body>
</html>