<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Hello World</title>
    <style>
        header {
            font-size: 20px;
            font-weight: bold;
        }

        tr {
            height: 50px;
            font-size: 15px;
            text-align: left;
        }

    </style>
<body>
<center>
    <header>
        KWITANSI <br>
        RECEIPT <br>
        NPWP : {{npwp}}
    </header>
</center>

<br>

<br>

<table>
    <tr>
        <td width="40%">No</td>
        <td>(nomor dokumen transaksi)</td>
    </tr>
    <tr>
        <td>Sudah diterima dari</td>
        <td>(data customer name data)</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>(customer alamat data)</td>
    </tr>
    <tr>
        <td>Banyaknya Uang</td>
        <td># (text pada note kwitansi) #</td>
    </tr>
    <tr>
        <td>Untuk Pembayaran</td>
        <td>Pembelian (data qty + unit + nama item)</td>
    </tr>
    <tr>
        <td>Jumlah</td>
        <td>Rp (nominal grand total dengan separator (,))</td>
    </tr>
</table>

</body>
</html>